@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --color-main: #1a202e
}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--color-main);
    color: white;
}

.sidebar-brand {
    height: 70px;
}

.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar-user {
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
}

.sidebar-user img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.sidebar-user h3 {
    font-size: 1rem;
}

.sidebar-user span {
    font-size: .8rem;
}

.sidebar-menu {
    margin-top: 3rem;
}

.menu-head {
    text-transform: uppercase;
    color: #8da2fb;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.sidebar-menu ul {
    margin-bottom: 1.5rem;
}

.sidebar-menu li {
    margin-bottom: .9rem;
}

.sidebar-menu li a {
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.sidebar-menu li a span {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 0.8rem;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

}

.menu-toggle label {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.header-icons span {
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;
}

.menu-toggle label:hover {
    background-color: #efefef;
}

.main-content {
    margin-left: 280px;
}

.main {
    padding: 1.5rem;
    background: #F1F5F9;
    min-height: calc(100vh - 70px);
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.header-actions button {
    outline: none;
    color: white;
    background: #5850ec;
    border: none;
    border-radius: 3px;
    padding: .6rem 1rem;
    margin-left: 1rem;
    font-weight: 700;
}

.header-actions button span{
    font-size: 1.2rem;
    margin-right: .6rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
}

.card-single {
    background: white;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.2);
    border-radius: 2px;
}

.card-flex {
    display: grid;
    grid-template-columns: 80% auto;
    align-items: center;
}

.card-header {
    display: block;
    text-transform: uppercase;
    color: #555;
    font-size: .9rem;
}

.card-header small {
    font-weight: 700;
    color: #555;
    display: block;
}

.card-info h2 {
    font-size: 2.2rem;
    color: #333;
}

.card-chart span {
    font-size: 4rem;
}

.card-chart.success span {
    color: seagreen;
}

.card-chart.danger span {
    color: tomato;
}

.card-chart.warning span {
    color: orange;
}

.jobs-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto 66%;
    grid-gap: 3rem;
}

.analitics-card {
    background: white;
    padding: 1.5rem;
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.2);
    border-radius: 2px;
}

.analitics-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.analitics-head span {
    font-size: 1.5rem;
}

.analytics-chart small {
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom: 1rem;
}

.chart-circle {
    height: 150px;
    width: 150px;
    border-left: 10px solid transparent;
    border-right: 10px solid #5850ec;
    border-bottom: 10px solid #5850ec;
    border-top: 10px solid #5850ec;
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.analitics-card button {
    display: block;
    padding:.6rem 1rem;
    width: 100%;
    height: 45px;
    background: #5850ec;
    color: white;
    border: 1px solid #5850ec;
    border-radius: 3px;
}

.jobs {
    /* background: white; */
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.2);
    border-radius: 2px;
    padding: 1.5rem;
}

.jobs h2 small {
    color: #5850ec;
    font-weight: 600;
    display: inline-block;
    margin-left: 1rem;
    font-size: .9rem;
}

.jobs table {
    border-collapse: collapse;
    margin-top: 1rem;
}

.jobs table td div {
    background: white;
    margin-bottom: 1rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: .85rem;
    color: #444;
    font-weight: 500;
}

